@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bellefair;
  src: url("../fonts/Bellefair-Regular.ttf");
}
@font-face {
  font-family: Barlow;
  src: url("../fonts/Barlow-Regular.ttf");
}

@layer base {
  html,
  body {
    @apply h-screen m-0 p-0 overflow-x-hidden;
  }
  body {
    @apply text-white bg-no-repeat bg-auto;
  }
}

/* NavBar */
.nav-link-mobile {
  @apply font-Barlow text-base my-5;
}
.nav-link-desktop {
  @apply font-Barlow text-base mx-6 py-10;
}
.nav-link-desktop.active {
  @apply border-b-white border-b-4;
}

/* Crew Page */
.crew-info-container {
  @apply flex-col;
}
.crew-container-text {
  @apply order-2 lg:order-1;
}
.crew-container-tab {
  @apply order-1 lg:order-2;
}
.crew-tab {
  @apply bg-white opacity-50 w-2.5 lg:w-4 h-2.5 lg:h-4 rounded-full mr-4;
}

/* Tech page */
.tech-info-container {
  @apply flex-col lg:flex-row;
}
.tech-container-text {
  @apply order-1 lg:order-2 lg:flex lg:flex-col lg:h-full;
}
.tech-container-tab {
  @apply order-2 lg:order-1 flex lg:flex-col mr-10;
}
.tech-tab {
  @apply text-white font-Bellefair text-base lg:text-3xl w-10 lg:w-20 h-10 lg:h-20 rounded-full border-white border-solid border-[1px] flex justify-center items-center mx-3 lg:mx-0 lg:my-3;
}
