@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bellefair;
  src: url("../fonts/Bellefair-Regular.ttf");
}
@font-face {
  font-family: Barlow;
  src: url("../fonts/Barlow-Regular.ttf");
}

@layer base {
  html,
  body {
    @apply h-screen m-0 p-0 overflow-x-hidden;
  }
  body {
    @apply text-white bg-no-repeat bg-auto;
  }
}

.nav-link-mobile {
  @apply font-Barlow text-base my-5;
}
.nav-link-desktop {
  @apply font-Barlow text-base mx-6 py-10;
}
.nav-link-desktop.active {
  @apply border-b-white border-b-4;
}
