---
import CrewContainer from "../components/CrewContainer.astro";
import BaseLayout from "../layouts/BaseLayout.astro"

const allPosts = await Astro.glob('./posts/crew/*.md'); 
---
<BaseLayout>
	{
		allPosts.map((post) => 
	<div>
		<CrewContainer
			role={post.frontmatter.role}
			name={post.frontmatter.name}
			description={post.frontmatter.bio}
			url={post.frontmatter.images}
		/>
	</div>
)
	}
</BaseLayout>
