---
import CrewContainer from "../components/CrewContainer";
import BaseLayout from "../layouts/BaseLayout.astro"

// const allPosts = await Astro.glob('./posts/crew/*.md'); 

const desktopBg = "../public/images/crew/background-crew-desktop.jpg"
---
<BaseLayout background={desktopBg}>
	<section class="flex flex-col justify-center items-center">
		<div class="flex items-center lg:pt-8 ">
			<CrewContainer client:load />
		</div>
	</section>
</BaseLayout>
