---
import BaseLayout from "../layouts/BaseLayout.astro";
import DestinationContainer from "../components/DestinationContainer";
const desktopBg = "../public/images/destination/background-destination-desktop.jpg";
---

<BaseLayout background={desktopBg}>
  <div class="flex items-center lg:justify-around flex-col lg:flex-row lg:mx-36">
    <DestinationContainer client:load/>
  </div>
</BaseLayout>

<script>
</script>