---
import BaseLayout from "../layouts/BaseLayout.astro";
const home = await Astro.glob('./posts/home.md'); 
const homePost = home[0]; 

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Space Tourism</title>
	</head>
	<body>
		<BaseLayout>
		<h1>so, you want to travel to</h1>
		<h2>space</h2>
		<p>{homePost.frontmatter.description}</p>
		</BaseLayout>
	</body>
</html>
