---
import BaseLayout from "../layouts/BaseLayout.astro";
const home = await Astro.glob('./posts/home.md'); 
const homePost = home[0]; 

---
<BaseLayout>
	<main class="h-screen flex flex-col items-center text-white bg-black">
		<h1 class="uppercase text-base">so, you want to travel to</h1>
		<h2 class="uppercase text-8xl">space</h2>
		<p class="font-sm">{homePost.frontmatter.description}</p>
		<div class="text-black bg-white w-40 h-40 rounded-full flex justify-center items-center uppercase text-xl">
			<p>explore</p>
		</div>
	</main>
</BaseLayout>