---
import BaseLayout from "../layouts/BaseLayout.astro";

const desktopBg = "../public/images/technology/background-technology-desktop.jpg"
---
<BaseLayout background={desktopBg}>
	<h2>TECHNOLOGY</h2>
</BaseLayout>
