---
import Icons from "../Icons.astro";

const pages = ["home", "destination", "crew", "technology"];
---

<button 
    class="cursor-pointer flex m-6 lg:hidden" 
    id="hamburger-icon">
    <Icons icon="hamburger"/>
</button>
<nav class="justify-center hidden pr-20 pl-6 bg-lightGrey bg-opacity-5 backdrop-blur pt-32 h-screen w-2/3"
    id="mobile-navbar">
    <button 
    class="absolute top-0 right-0 z-50 cursor-pointer m-6" 
    id="close-icon">
        <Icons icon="close"/>   
    </button>
    <div class="uppercase text-base flex flex-col lg:flex-row" id="nav-links">
        {
            pages.map((page, index) => (
                <a href={`/${page}/`} class="nav-link-mobile">
                    <span class="font-bold mr-2">0{index}</span>{page}
                </a>
            ))
        }
    </div>
</nav>

<script>
    import "../../scripts/navbarMobile.ts"
</script>
