---
import Navigation from "./Navigation.astro"
import Icons from "./Icons.astro"
---

<header class="flex flex-row justify-between bg-black text-white">
    <Icons icon="logo"/>
    <Icons icon="hamburger"/>
    <!-- <nav>
        <Navigation />
    </nav> -->
</header>