---
import Icons from "./Icons.astro"
import NavbarMobile from "./navbar/NavbarMobile.astro"
import NavbarDesktop from "./navbar/NavbarDesktop.astro"
---

<header class="flex flex-row justify-between ">
    <div class="m-6 ">
        <Icons icon="logo"/>
    </div>
        <NavbarMobile />
    <div class="hidden lg:block">
        <NavbarDesktop />
    </div>
    
</header>

