---
import Navigation from "./Navigation.astro"
import Icons from "./Icons.astro"
---

<header class="flex flex-row justify-between ">
    <div class="m-6">
        <Icons icon="logo"/>
    </div>
    <button class="cursor-pointer hidden" id="hamburger">
        <Icons icon="hamburger"/>
    </button>
    <div class="m-6 flex flex-end">
        <Icons icon="close" />
    </div>
    <nav class="flex flex-col justify-center pr-20 pl-6 pt-32 lg:pt-0 lg:mt-5 lg:px-32 bg-lightGrey bg-opacity-5 backdrop-blur">
        <Navigation />
    </nav>
</header>

<script>
import { literal } from "astro:schema";

const hamburgerBtn = document.getElementById('hamburger'); 
const link = document.getElementById("nav-links")
hamburgerBtn?.addEventListener("click",() => {
alert("le btn fonctionne");
link?.classList.toggle("active")
})

</script>