---

---

<div class="uppercase text-base flex flex-col lg:flex-row" id="nav-links">
    <a href="/" class="nav-link">00 home</a>
    <a href="/destination/" class="nav-link">01 destination</a>
    <a href="/crew/" class="nav-link">02 crew</a>
    <a href="/technology/" class="nav-link">03 technology</a>
</div>