---
import Header from "../components/Header.astro";
const { backgroundMobile, backgroundDesktop } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Jodie Addis">
    <meta name="description" content="Discover Space Tourism 🚀, an immersive space travel website: destinations, crew, and cutting-edge technologies for an unforgettable journey.">
    <meta name="generator" content={Astro.generator} />
    <title>Space Tourism</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body
    class="m-0 w-screen h-screen flex flex-col bg-cover"
    data-backgroundMobile ={backgroundMobile}
    data-backgroundDesktop = {backgroundDesktop}
    id="body"
  >
    <header class="lg:mb-16 mb-8">
      <Header />
    </header>
    <main class="lg:h-full w-full">
      <slot />
    </main>
  </body>
</html>

<script>
  const updateBackground = () => {
    const body = document.getElementById("body");
    const screenWidth = window.innerWidth ; 
    if(body){
      const bgMobile = body.getAttribute("data-backgroundMobile"); 
      const bgDesktop = body.getAttribute("data-backgroundDesktop"); 

      const newBg = screenWidth < 728 ? bgMobile : bgDesktop; 

      body.style.backgroundImage= `url(${newBg})`; 
    }
  }
  window.addEventListener("load", updateBackground); 
  window.addEventListener("resize", updateBackground); 
</script>